html, body, .main {
  background-color: #000000 !important;
  color: #fff !important;
  height: 100%;
}

.stockList {
  min-height: 60%;
}

.graphy {
  min-height: 40%;
  background-color: #202020;
}

.col-xs-4 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #3A3A3A;
}

.nav {
  border-bottom: 1px solid #737373;
}

.info {
  min-height: 200px;
}

#line-chart {
  min-height: 160px;;
}

#graph-place-holder {
  position: absolute;
  top: 80%;
  left: 35%;
  text-align: center;
  color: #4B4B4B;
}

#bar-chart {
  min-height: 20px;;
}

.axis path,
.axis line {
  fill: none;
  stroke: #4B4B4B;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #4B4B4B;
}

.stock.active {
  background-color: #383838;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #202020 !important;
  color: #B2B2B2 !important;
}

.nav>li>a.active {
  color: #FAFAFA !important;
}

.nav a {
  color: #B2B2B2 !important;
}

.carousel-indicators {
  bottom: 0 !important;
  margin-bottom: 5px;
}

.carousel-indicators .active {
  background-color: #EFEFEF !important;
}

.carousel-indicators li {
  border: 1px solid #4B4B4B !important;
  background-color: #4B4B4B !important;
}
