html, body, .main {
  color: #000 !important;
  height: 100%;
}

.stockList {
  min-height: 60%;
}

.graphy {
  min-height: 40%;
  background-color: #EAEAEA;
}

.col-xs-4 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #EAEAEA;
}

.nav {
  border-bottom: 1px solid #CBCBCB;
}

.info {
  min-height: 200px;
}

#line-chart {
  min-height: 200px;;
}

#graph-place-holder {
  position: absolute;
  top: 80%;
  left: 35%;
  text-align: center;
  color: #A5A5A5;
}

#bar-chart {
  min-height: 20px;;
}

.axis path,
.axis line {
  fill: none;
  stroke: #CBCBCB;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #A5A5A5;
}

path.area {
  fill: #B4B4B4;
  opacity: .8;
}

path.areaLine {
  fill: none;
  stroke: #878787;
}

path.areaLine1 {
  fill: none;
  stroke: green;
}

rect.bar {
  fill: #6C6C6C;
}

path.areaLine2 {
  fill: none;
  stroke: red;
}

text.maxData {
  dy: .35em;
  fill: #A0A0A0;
}

text.minData {
  dy: .35em;
  fill: #646464;
}

.stock.active {
  background-color: #EAEAEA;
}

.stock {
  cursor: pointer;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #EAEAEA !important;
  color: #A5A5A5 !important;
}

.nav>li>a.active {
  color: #000 !important;
}

.nav a {
  color: #A5A5A5 !important;
}

.carousel-indicators {
  bottom: 0 !important;
  margin-bottom: 5px;
}

.carousel-indicators .active {
  background-color: #000 !important;
}

.carousel-indicators li {
  border: 1px solid #A0A0A0 !important;
  background-color: #A0A0A0 !important;
}

.details, .news {
  min-height: 200px;;
}
